#img-bg{
    background-image:url("https://www.dhresource.com/0x0/f2/albu/g10/M01/06/58/rBVaWVzHEy6ALxKuAAYrrPOR3yQ857.jpg?01ae95042cf23bafb7fa4fec85e91e58") ;
    min-height: 788px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}